<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<video src="http://localhost:3000/video\\7807b49a9b6331cbbc73c733e54072f3.mp4" controls="controls">

</video>
</body>
</html>